/**
 * Text align: left, right, center and justify
 */
.ep-left { text-align: left; }
.ep-right { text-align: right; }
.ep-center { text-align: center; }
.ep-justify { text-align: justify; }



/**
 * The element (or all elements inside of .allleft) are floating to the left
 */
.ep-fleft, .ep-allright > .ep-fleft, .ep-allleft > * { float: left; }


 /**
  * The element (or all elements inside of .allright) are floating to the right
  */
.ep-fright, .ep-allleft > .ep-fright, .ep-allright > * { float: right; }
