/**
 * CSS Tables
 */
.ep-table { display: table; }
.ep-table > * { display: table-row; }
.ep-table > * > * { display: table-cell; }

.ep-table.top > * > *, .ep-table > * > *.top { vertical-align: top; }
.ep-table.middle > * > *, .ep-table > * > *.middle { vertical-align: middle; }
.ep-table.bottom > * > *, .ep-table > * > *.bottom { vertical-align: bottom; }
